.card {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;
    margin-top: 3rem;

    .text {
        h4 {
            margin: 0.75rem 0;
        }
    }
    img {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 768px) {
    .card {
        flex-direction: row;
        margin-top: 5rem;
        gap: 4rem;
        img {
            width: 70%;
        }
    }

    .card:nth-child(2n) {
        .text {
            order: 2;
        }
        img {
            order: 1;
        }
    }
}
