.container {
    padding: 3rem 0;
    width: 100%;
    
    > h2 {
        text-align: center;
    }

    .buttons {
        margin-top: 3rem;
        display: flex;
        gap: 1.5rem;
        justify-content: center;
        align-items: center;

        button {
            display: flex;
            justify-content: center;
            gap: 1rem;
            flex-wrap: wrap-reverse;
            cursor: pointer;
            border: none;
            background-color: transparent;

            &:disabled {
                color: #6D6E76;
            }

            &:first-child {
                flex-wrap: wrap;
            }
        }

    }
}