$sidebar-padding: 4rem 0;
$sidebar-max-width: 300px;

$item-margin-top: 1.75rem;

$cards-margin-top: 1.5rem;

$card-margin-top: 1.25rem;

$tags-margin-top: 1.5rem;
$tags-gap: 1rem;

.categorySidebar {
    padding: $sidebar-padding;
    max-width: $sidebar-max-width;
    
    > * + * {
        margin-top: $item-margin-top;
    }
}

.cards {
    margin-top: $cards-margin-top;
    > * + * {
        margin-top: $card-margin-top;
    }
}

.tags {
    margin-top: $tags-margin-top;
    display: flex;
    flex-wrap: wrap;
    gap: $tags-gap;
}