$container-padding: 5rem 1rem;
$container-max-width: 400px;

$p-margin: 1.25rem;

.container {
    padding: $container-padding;
    max-width: $container-max-width;
    margin: 0 auto;
    text-align: center;   

    p {
        margin: $p-margin;
    }
}

