.container {
    padding: 5rem 1rem;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;   
}

.title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.25em;
}

.subtitle {
    font-size: 16px;
    line-height: 1.75em;
    color: #6D6E76;
    margin: 1.25rem 0;

}