$post-info-padding: 1.5rem;
$post-margin-top: 1.5rem;
$post-hover: #FBF6EA;

$h4-margin-top: 0.5rem;

$title-color: #000;

.postInfo {
    cursor: pointer;
    padding: $post-info-padding;

    h4 {
        margin-top: $post-margin-top;
    }

    .title {
        color: $title-color;
    }

    &:hover {
        background: $post-hover;
    }

    & + & {
        margin-top: $post-margin-top;
    }
}