.container {
    display: flex;
    align-items: flex-end;
    padding: 4rem 0;
}

.image {
    display: none;
    flex-shrink: 0;
    width: 65%;

    img {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .image {
        display: block;
    }

    .textContainer {
        transform: translate(-50%, 0);
        padding: 5rem;
    }
}

.textContainer {
    flex-shrink: 0;
    background-color: #fff;
    padding: 2rem;
    min-width: 320px;
    width: 40vw;
    h1 {
        margin: 1rem 0;
    }

    a {
        margin-top: 1.25rem;
    }
}