.categoryCard {
    cursor: pointer;
    padding: 1.5rem;
    border: 1px solid #6D6E7650;
    text-align: start;
}

.small {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.categoryCard > * + * {
    margin-top: 0.5rem;
}

.categoryIcon {
    width: 48px;
    height: 48px;
    background: #FBF6EA;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}