$hero-padding: 6rem 3rem;
$hero-color: #fff;

$hero-content: 50%;
$hero-min-width: 300px;

$p-margin: 1rem 0;

$hero-title-margin-top: 1.25rem;

.hero {
    padding: $hero-padding;
    background-image: url("../../assets/home-hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $hero-color;
    
    p {
        margin: $p-margin;
    }
}

.heroContent {
    width: $hero-content;
    min-width: $hero-min-width;
}

.heroTitle {
    margin-top: $hero-title-margin-top;
}
