$fs-5xl: 56px;
$fs-4xl: 48px;
$fs-3xl: 36px;
$fs-2xl: 28px;
$fs-xl: 24px;
$fs-l: 20px;
$fs-m: 18px;
$fs-s: 16px;
$fs-xs: 14px;

$fw-bold: 700;
$fw-semibold: 600;
$fw-normal: 500;
$fw-light: 400;

$line-height-l: 1.5em;
$line-height-m: 1.4em;
$line-height-s: 1.25em;

$color-secondary: #232536;
$link-color: #592EA9;
$button-bg: #FFD050;
$container-background: #F4F0F8;
$error-color: red;