.blogHeader {
    display: flex;
    flex-direction: column-reverse;
    padding: 2rem;
    gap: 2rem;
    background: #F4F0F8;

    h2 {
        margin: 1rem 0;
    }

    .text {
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }

    .image {
        width: 100%;
        overflow: hidden;
    }

    img {
      width: 100%;
      object-fit: cover;
    }
}

@media (min-width: 768px) {
    .blogHeader {
        flex-direction: row;
        padding: 4rem;
        gap: 6rem;
    }

    .image {
        width: 40%;
        order: 1;
    }
}