$card-border: 1px solid #6D6E7640;
$card-padding: 1.75rem;

$img-height: 350px;
$img-margin-bottom: 1rem;

$h3-margin: 0.75rem 0;
$a-margin-top: 1.25rem;

.card {
    border: $card-border;
    padding: $card-padding;
    img {
        width: 100%;
        height: $img-height;
        object-fit: cover;
        margin-bottom: $img-margin-bottom;
    }

    h3 {
        margin: $h3-margin;
    }

    a {
        margin-top: $a-margin-top;
    }
}

