$card-padding: 2rem 1rem;
$card-bg: #F4F4F4;
$card-hover-bg: #EBEBEB;

$h3-margin-top: 1rem;
$p-margin-top: 0.5rem;
$p-margin-bottom: 1.25rem;

$image-size: 128px;

.card {
    cursor: pointer;
    padding: $card-padding;
    background: $card-bg;
    flex: 1;

    &:hover {
        background: $card-hover-bg;
    }

    h3 {
        margin-top: $h3-margin-top;
    }

    > p {
        margin-top: $p-margin-top;
        margin-bottom: $p-margin-bottom;
    }
}

.image {
    width: $image-size;
    height: $image-size;
    object-fit: cover;
    border-radius: 100%;
}