@import "@/constants/theme";

$header-z: 10;
$header-padding: 1rem 1.5rem;

.header {
    position: sticky;
    z-index: $header-z;
    top: 0;
    background-color: $color-secondary;
    padding: $header-padding;
}

