.overview {
    img {
        width: 100%;
        height: auto;
    }

    .textBlock {
        display: flex;
        background: #F4F0F8;
        padding: 4rem 5rem;
        padding-top: 6rem;
        gap: 1.5rem;

        h3 {
            margin: 1rem 0;
        }
    }
}
