.overview {
    img {
        display: none;
        width: 100%;
        height: auto;
    }
}

.textBlock {
    display: flex;
    flex-direction: column;
    background: #F4F0F8;
    padding: 2rem 2.5rem;
    padding-top: 3rem;
    gap: 1.5rem;

    h3 {
        margin: 1rem 0;
    }
}

@media (min-width: 768px) {
    .textBlock {
        display: flex;
        flex-direction: row;
        padding: 4rem 5rem;
        padding-top: 6rem;
    }

    .overview {
        img {
            display: block;
        }
    }
}
