$logos-padding: 4rem 0;
$logos-gap: 4rem;

$img-width: 150px;

.logos {
    padding: $logos-padding;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    gap: $logos-gap;

    img {
        width: $img-width;
        height: auto;
    }
}