.testimonials {
    display: flex;
    flex-direction: column;
    background: #FBF6EA;
    padding: 1.5rem 3rem;
    gap: 1.5rem;
}

@media (min-width: 1024px) {
    .testimonials {
        flex-direction: row;
        gap: 6rem;
        padding: 4rem 6rem;
    }
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.25em;
    margin-top: 0.5rem;
}

.subtitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25em;
    letter-spacing: 3px;
}

.text {
    margin-top: 1.25rem;
    font-size: 16px;
    color: #232536;
    line-height: 1.5em;
}

.reviewText {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.25em;
}

.separator {
    border-left: 1px solid #6D6E76;
}

.reviewInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
    margin-top: 5rem;
}

@media (min-width: 768px) {
    .reviewInfo {
        flex-direction: row;
    }
}


.arrows {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.arrowPrev {
    border: none;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    cursor: pointer;
}
.arrowNext {
    border: none;
    width: 62px;
    height: 62px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    cursor: pointer;
}