.postsList {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 4rem 0;

    h2 {
        margin-bottom: 2rem;
    }
}

@media (min-width: 768px) {
    .postsList {
        grid-template-columns: 6fr 4fr;
    }
}
.postsHeading {
    display: flex;
    justify-content: space-between;
}