$container-padding: 3rem 0;

$separator-border: 1px solid #6D6E7640;
$separator-margin-top: 1rem;
$separator-margin-bottom: 3rem;

.container {
    padding: $container-padding;
}

.separator {
    border-top: $separator-border;
    margin-top: $separator-margin-top;
    margin-bottom: $separator-margin-bottom;
}