$fs-m: 18px;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

html, body {
    font-family: sans-serif;
    scrollbar-gutter: stable;
}

.button {
  display:inline-block;
  border: none;
  cursor: pointer;
  color: #232536;
  font-weight: 700;
  font-size: 18px;
  background: #FFD050;
  padding: 0.75rem 2rem;
}

a {
  text-decoration: none;
  color: #592EA9;

}

.button.secondary {
  background-color: #fff;
}


main, .main {
  margin-top: 4rem;
  padding: 0 2rem;
  overflow-x: hidden;
  min-height: 80vh;
}

.loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
}

.spinner {
    border: 12px solid rgba(0, 0, 0, 0.1);
    border-left-color: #007bff;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@media (min-width: 768px) {
  main, .main {
    padding: 0 4rem;
    max-width: 1500px;
    margin: 0 auto;
  }
}

.display {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.25em;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.4em;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.25em;
}

h3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.5em;
}

h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4em;
}

h5 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5em;
}

.body1 {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;

  &.secondary {
    color: #6D6E76;
  }
}

.body2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5em;
}

.cap1 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1.25em;
  letter-spacing: 3px;
}

.cap3 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1.25em;
  letter-spacing: 3px;
  color: #232536;

}

.label1 {
  font-size: 14px;
  line-height: 1.5em;
  font-weight: 500;
  color: #4C4C4C;
}