.authorInfo {
    display: flex;
    gap: 1rem;

}

.authorIcon {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 50%;
}

.authorTitle {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.25em;
}

.authorSubtitle {
    font-size: 16px;
    line-height: 1.5em;
    color: #6D6E76;
}