$author-info-gap: 1rem;
$author-info-animation: 1.6s ease-out 0s 1 appear forwards;

$author-icon-size: 48px;

.authorInfo {
    display: flex;
    gap: $author-info-gap;
    animation: $author-info-animation;
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.authorIcon {
    width: $author-icon-size;
    height: $author-icon-size;
    object-fit: cover;
    border-radius: 50%;
}
