$author-list-padding: 4rem 0;

$cards-margin-top: 2rem;
$card-columns-s: 1fr;
$card-columns-m: 1fr 1fr;
$card-columns-l: repeat(4, 1fr);
$cards-gap: 4rem;

.authorsList {
    padding: $author-list-padding;
    text-align: center;
}

.cards {
    margin-top: $cards-margin-top;
    display: grid;
    grid-template-columns: $card-columns-s;
    justify-content: center;
    gap: $cards-gap;
}


@media (min-width: 768px) {
    .cards {
        grid-template-columns: $card-columns-m;
    }
}

@media (min-width: 1024px) {
    .cards {
        grid-template-columns: $card-columns-l;
    }
}