.authorsList {
    padding: 4rem;
    text-align: center;
}

.title {
    font-weight: 700;
    font-size: 36px;
}

.cards {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 4rem;
}