.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
}

.navTitle {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    margin-right: auto;
}

.navLink {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.links {
    display: none;
}

@media (min-width: 768px) {
    .burger {
        display: none;
    }

    .links {
       display: flex;
       justify-content: flex-end;
       align-items: center;
       gap: 1.5rem;
    }
}


.burgerBtn {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;

    > div {
        width: 100%;
        height: 3px;
        background-color: #eee;
    }
}

.dropdown {
    z-index: 30;
    position: absolute;
    left: 0;
    margin-top: 1rem;
    background-color: #f5f5f5;
    width: 100vw;
    text-align: center;

    > * {
        margin: 0 auto;
        display: block;
        padding: 1rem;
        color: #000;
        text-decoration: none;
        font-weight: 600;
        font-size: 18px;

        &:hover {
            cursor: pointer;
            background-color: #eee;
        }
    }
}

.overlay {
    z-index: 20;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000030;
}
