@import "@/constants/styles/theme";

$nav-gap: 1.5rem;

$nav-color: #fff;

$links-gap: 1.5rem;

$burger-width: 30px;
$burger-height: 25px;

$burger-line-height: 3px;
$burger-line-color: #eee;

$dropdown-z: 30;
$dropdown-margin-top: 1rem;
$dropdown-bg: #f5f5f5;

$dropdown-item-padding: 1rem;
$dropdown-items-color: #000;
$dropdown-item-hover: #eee;

$overlay-z: 20;
$overlay-bg: #00000030;

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: $nav-gap;
}

.navTitle {
    color: $nav-color;
    text-decoration: none;
    font-weight: $fw-bold;
    font-size: $fs-xl;
    margin-right: auto;
}

.navLink {
    color: $nav-color;
    text-decoration: none;
    font-weight: $fw-normal;
}

.links {
    display: none;
}

@media (min-width: 768px) {
    .burger {
        display: none;
    }

    .links {
       display: flex;
       justify-content: flex-end;
       align-items: center;
       gap: $links-gap;
    }
}


.burgerBtn {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: $burger-width;
    height: $burger-height;

    > div {
        width: 100%;
        height: $burger-line-height;
        background-color: $burger-line-color;
    }
}

.dropdown {
    z-index: $dropdown-z;
    position: absolute;
    left: 0;
    margin-top: $dropdown-margin-top;
    background-color: $dropdown-bg;
    width: 100vw;
    text-align: center;

    > * {
        margin: 0 auto;
        display: block;
        padding: $dropdown-item-padding;
        color: $dropdown-items-color;
        text-decoration: none;
        font-weight: $fw-semibold;
        font-size: $fs-m;

        &:hover {
            cursor: pointer;
            background-color: $dropdown-item-hover;
        }
    }
}

.overlay {
    z-index: $overlay-z;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: $overlay-bg;
}
